* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #e6d6fa);
}

.btn {
    padding: 16px 32px;
    background-color: #872BFF;
    margin-right: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    box-shadow: #F411CF;

}

.btn-white {
    padding: 16px 32px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid #872BFF;
    margin-right: 20px;

}

.heading-content {
    text-align: center;
}

.heading-content h4 {
    color: #F411CF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.heading-content h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 30px;
}

#banner {
    margin: 100px auto 120px auto;
    width: 87.5%;
    background-color: #f3edfc;
    border-radius: 10px;
    border: 2px solid #872BFF10;
    padding: 20px 30px;
    background-image: url(../images/hero-bg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-content * {
    margin-bottom: 20px;
}

.banner-content {
    width: 60%;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;

}

.banner-content p {
    font-weight: medium;
    font-size: 18px;
    color: #A8A8A8;
}

.banner-content h1 span {
    color: #F411CF;
}

.banner-image img {
    width: 600px;
}

#service,
#story {
    width: 87.5%;
    margin: 0px auto 50px auto;

}

.service-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.service-card {
    background-color: white;
    padding: 60px;
    text-align: center;
    border-radius: 30px;
    width: 350px;
    margin-inline: 50px;

}

.service-card img {
    margin-bottom: 30px;
}

.service-card h2 {
    font-size: 28px;
    font-weight: semibold;
    margin-bottom: 20px;


}

.service-card p {
    color: #a8a8a8;
}

.story-card {
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    gap: 20px;
}

.story-content h2,
.story-content p,
.story-content img {
    margin-bottom: 20px;
}

#story-card-container {
    margin: 60px;
}

#country-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#country-card-container h2 {
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    gap: 20px;
    margin: 20px;
}

#country-container {
    margin: 60px;
}

.button-card {
    text-align: center;
    margin: 60px;
}

.review-container {
    margin: 60px;

}

.review-card-container {
    background-color: white;
    border-radius: 30px;
    padding: 24px;
    margin: 50px;
    text-align: center;
    background-image: url(../images/star-reviews.png);
    background-repeat: no-repeat;
    background-position: right;
}


.review-card-container p {
    padding: 24px;
    margin: 20px;
}

.review-card-container h3,
h4 {
    padding: 0px;

}